<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3</title>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>        
        <style type="text/css">  
            .d3-tip {
              line-height: 1;
              font-weight: bold;
              padding: 12px;
              background: rgba(0, 0, 0, 0.8);
              color: #fff;
              border-radius: 2px;
            }

            /* Creates a small triangle extender for the tooltip */
            .d3-tip:after {
              box-sizing: border-box;
              display: inline;
              font-size: 10px;
              width: 100%;
              line-height: 1;
              color: rgba(0, 0, 0, 0.8);
              content: "\25BC";
              position: absolute;
              text-align: center;
            }

            /* Style northward tooltips differently */
            .d3-tip.n:after {
              margin: -1px 0 0 0;
              top: 100%;
              left: 0;
            }        
        </style>
    </head>
    <body>      
    <h1> Worst Businesses In Madison </h1>
    <h2> Bigger Circles Indicate More Reviews </h2>
        <script type="text/javascript">
            var w = 900;
            var h = 300;                    
            var margin = 50;
           
            var dataset = <%- JSON.stringify(data) %>;
            
            var svg = d3.select("body")          
                        .append("svg")
                        .attr("width", w)
                        .attr("height", h);

            var tip = d3.tip()
              .attr('class', 'd3-tip')
              .offset([-10, 0])
              .html(function(d) {
                return "<strong>Name:</strong> <span style='color:red'>" + d['name'] + "</span>" +
                "<br/>" + "<strong>Review Counts:</strong> <span style='color:blue'>" + d['review_count'] + "</span>" + "<br/> <strong>Stars:</strong> <span style='color:yellow'>" + d['stars'] + "</span>";
              })            

            svg.call(tip);              

            var rScale = d3.scale.linear()
                .domain([0, d3.max(dataset.map(function(d) {
                  return d["review_count"];
                }))])
                .range([5, 15]);
 
            var xScale = d3.scale.linear()
                .domain([0, dataset.length])
                .range([2*margin, w - 2*margin]);                         
 
            var g = svg.selectAll("g")
              .data(dataset)
              .enter()
              .append("g")               
              .attr("transform", function(d){
                    return "translate(" + xScale( dataset.indexOf(d) )
                         + "," + 2*margin + ")"; 
              })
              .on('mouseover', tip.show)
              .on('mouseout', tip.hide)


            g.append("circle")
             .attr("r", function(d) { return rScale( d["review_count"] ) } )
             .attr("cx",0)
             .attr("cy",0)
             .attr("fill","red")

        </script>
    </body>
</html>